<p class="flow-text">
    {{utils.config.title}} (<code>{{utils.package.name}}</code>)
    is licensed under the following license:
</p>
<h4>MIT License</h4>
<p>
    <b>
        Copyright &COPY;
        {{currentYear}}
        {{utils.package.author.name}}
    </b>
</p><p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
    of the Software, and to permit persons to whom the Software is furnished to do
    so, subject to the following conditions:
</p><p>
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
</p><p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
    WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p><p>
    You can find more information about the MIT License here:<br>
    <a target="_blank" href="https://opensource.org/licenses/mit-license.php">
        opensource.org/licenses/mit-license.php
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p>

<h4>Used Libraries</h4>
<!-- Express -->
<h5>Express</h5>
<p>
    <a target="_blank" href="http://expressjs.com">
        expressjs.com
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p><p>
    Copyright &COPY; 2009-2014 TJ Holowaychuk
    &lt;tj@vision-media.ca&gt;
    <br>
    Copyright &COPY; 2013-2014 Roman Shtylman
    &lt;shtylman+expressjs@gmail.com&gt;
    <br>
    Copyright &COPY; 2014-2015 Douglas Christopher Wilson <>
    &lt;doug@somethingdoug.com&gt;
</p><p>
    {{utils.config.title}} (<code>{{utils.package.name}}</code>) uses Express as a base for serving
    web pages and providing a REST API for controlling playback.
</p><p>
    Express is licensed under the MIT License.
</p><p>
    More information about the MIT License can be found here:<br>
    <a target="_blank" href="https://opensource.org/licenses/mit-license.php">
        opensource.org/licenses/mit-license.php
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p>

<!-- EJS -->
<h5>Handlebars</h5>
<p>
    <a target="_blank" href="http://handlebarsjs.com/">
        handlebarsjs.com
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p><p>
    {{utils.config.title}} (<code>{{utils.package.name}}</code>) uses Handlebars to provide web pages using templates.
</p><p>
    Handlebars is licensed under the MIT License.
</p><p>
    More information about the MIT License can be found here:<br>
    <a target="_blank" href="https://opensource.org/licenses/mit-license.php">
        opensource.org/licenses/mit-license.php
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p>

<!-- Debug -->
<h5>Debug</h5>
<p>
    <a target="_blank" href="https://github.com/visionmedia/debug">
        github.com/visionmedia/debug
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p><p>
    Copyright &COPY; 2014-2016 TJ Holowaychuk
    &lt;tj@vision-media.ca&gt;
</p><p>
    {{utils.config.title}} (<code>{{utils.package.name}}</code>) uses Debug to print debug log messages
    and to provide insight in the inner workings of the application.
</p><p>
    Debug is licensed under the MIT License.
</p><p>
    More information about the MIT License can be found here:<br>
    <a target="_blank" href="https://opensource.org/licenses/mit-license.php">
        opensource.org/licenses/mit-license.php
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p>

<!-- Simple-SSH -->
<h5>Simple-SSH</h5>
<p>
    <a target="_blank" href="https://github.com/MCluck90/simple-ssh">
        github.com/MCluck90/simple-ssh
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p><p>
    Copyright &COPY; 2013 Mike Cluck
</p><p>
    Simple-SSH is licensed under the MIT License.
</p><p>
    More information about the MIT License can be found here:<br>
    <a target="_blank" href="https://opensource.org/licenses/mit-license.php">
        opensource.org/licenses/mit-license.php
        <span class="fa fa-fw fa-external-link"></span>
    </a>
</p>
